*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(45deg, rgb(249, 250, 248), rgb(207, 228, 236),rgb(243, 246, 243),rgb(185, 209, 209));
    background-size: 400% 400%;
    animation: gradient 12s ease-in infinite;

}

@keyframes gradient {
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;

    }
}

.navbar{
    padding: 20px;
    position: fixed;
    width: 100%;
}

.form-group {
    margin: 10px 0;
}
.cepislogo{
    margin: 5px 0;
}

.cepislogo h1{
    text-shadow: 1px 2px 2px black;
    color: rgb(17, 181, 80);
    font-size: 1.4vmax;
}

.main{
    display: flex;
    flex-wrap: wrap;
    min-width: 320px;
    max-width: 950px;
    width: 80%;
    height: 35%;
    border-radius: 10px;
    margin-top: 5%;

    
    background: linear-gradient(45deg, rgb(164, 211, 111), rgb(88, 221, 247),rgb(80, 187, 80),rgb(115, 235, 231));
    background-size: 400% 400%;
    animation: gradient 12s ease-in infinite;}
  
.jumbotron {
    margin: 20px;
}

.itu{
    color: rgb(224, 244, 7);
    text-shadow: 1px 2px 2px black;
    font-weight: 600;
}
 h1{
    text-transform: uppercase;
    font-weight: 800;
    font-size: 4.4vmin;
 }

 .cepis{
    border-radius: 50%;
 }

 /*configuracion para las imagenes*/

/*=================Imagenes =================*/

.item img {
    max-width: 100%;
    outline: 1px solid rgb(224, 222, 222);
    cursor: pointer;
    display: block;
    margin-bottom: 2rem;
    outline-offset: 4px;
    border-radius: 18px;
}

.item img:hover {
    transform: scale(1.6);
    text-align: center;

}

.gallery {
    columns: 5 210px;
    column-gap:  2rem;
    margin: 5%;
    width: auto;
    transition: .5s ease;
}